[Unit]
Description=Run rclone-sync.service every 30 minutes

[Timer]
OnActiveSec=30m
OnUnitActiveSec=30m
Unit=rclone-sync.service

[Install]
WantedBy=timers.target

